body{
    background-color : white;
}

/*중앙정렬*/
#wrapper {
    position :relative;
    left :50%;
    transform :translate(-50%,  0%);
    width: 1000px;
    flex-direction: column;
}

#main_row1{
    display :flex;
    flex-direction :row;
    flex-basis : auto;
    margin-top: 2em;
    margin-bottom :2em;
}

    .logo{
        position:relative;
        width: 15%;
        height: 15%;
        object-fit: cover;
        margin-left:10%;
        margin-right: 3%;
    }

    .search {
        position: relative;
    }

        .input {
            position: relative;
            width: 400px;
            border: 1px solid #bbb;
            border-radius: 8px;
            padding: 10px;
            margin-top: 5%;
            font-size: 14px;
        }

        .searchpic {
            position : absolute;
            width: 3%;
            right: 3%;
            margin-top:8%
        }

    .buttons{
        position:relative;
        flex-direction: row;
        margin-right : 10%;
        margin-left: 5%;
        padding-top: 2.5%;
    }
        #btn{
            border:1px solid #bbb;
            background-color: white;
            padding: 5px;
            border-radius: 5px;
        }
        
/* ul li태그에 리스트 스타일을 없앰 */
ul li{
    list-style: none;
}
/* a태그에 텍스트 밑줄을 없애고 색상을 #333 */
a {
    text-decoration: none;
}
/* 글자크기를 16px 맑은 고딕 굵게하고 width넓이 700, 높이 50만큼 배경색은 #ccc, 글자색은 검정색, 라인높이50px
menu박스 가운데정렬, 글자가운데 정렬 */
#menu {
    font:bold 16px "malgun gothic";
    width:1000px;
    line-height: 50px; 
    text-align: center;
}

/* menu태그 자식의 ul의 자식 li를 왼쪽정렬과 넓이 140설정 */
#menu > ul > li {
    float:left;
    width:200px;
    position:relative;
    padding-right:50px;
    padding-left:50px;
    background-color: #74613F;
}

#menu > ul > li > a{ /*윗부분 글자색 지정*/
    color:white;
}

#menu > ul > li > ul {
    display:none;
    position: absolute;
    font-size:14px;
    padding-right:50px;
    padding-left:50px;
    padding-top:2px;
    margin-left:23px;
}

#menu > ul > li:hover > ul {
    display:block;
    background-color: white;
}

#menu > ul > li > ul > li > a{
    color:black;
}


#menu > ul > li > ul > li > a:hover {
    color:#74613F
}

.bg-white{
    margin-bottom: 1em;
    border-bottom: solid 1px #74613F;
}


.navbar-nav > li{
    text-align: center;
    width:33%;
}


.container{
	flex-direction:row;
	margin-left:100px;
}


